{
  "KEYCLOAK_ISSUER": "https://10.0.2.2:8443/realms/endurance",
  "KEYCLOAK_CLIENT_ID": "mobile",
  "KEYCLOAK_REDIRECT_URI": "be.kdg.endurance://oauthredirect",
  "WEB_APP_URL": "https://endurance.kdg.be"
}
